@import "tailwindcss";

@theme {
  --color-primary: #1976d2;
  --color-primary-light: #63a4ff;
  --color-primary-dark: #004ba0;

  --color-background: #f8f8f8;
  --color-surface: #ffffff;
  --color-text: #1a1a1a;
  --color-text-muted: #555555;
  --color-border: #e0e0e0;
}

:root {
  /* Typography */
  font-family: "Noto Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Rendering adjustments */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  @theme {
    --color-primary: #63a4ff;
    --color-primary-light: #90caf9;
    --color-primary-dark: #1976d2;

    --color-background: #1e1e1e;
    --color-surface: #2a2a2a;
    --color-text: #f5f5f5;
    --color-text-muted: #c2c2c2;
    --color-border: #3a3a3a;
  }
} */
